apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-dev
  namespace: keda-temporal
spec:
  replicas: 1 # Only one Temporal server
  selector:
    matchLabels:
      app: temporal-dev
  template:
    metadata:
      labels:
        app: temporal-dev
    spec:
      containers:
        - name: temporal
          image: temporal-dev:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 7233 # gRPC frontend
            - containerPort: 8233 # Web UI
            - containerPort: 9100 # Metrics
          envFrom:
            - secretRef:
                name: rabbitmq-conn-secret
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: temporal-ui
  namespace: keda-temporal
spec:
  type: NodePort
  selector:
    app: temporal-dev
  ports:
    - port: 8233
      targetPort: 8233
      nodePort: 30000 # Access via localhost:30000

---
apiVersion: v1
kind: Service
metadata:
  name: temporal-metrics
  namespace: keda-temporal
spec:
  type: NodePort
  selector:
    app: temporal-dev
  ports:
    - port: 9100
      targetPort: 9100
      nodePort: 30001

---
apiVersion: v1
kind: Service
metadata:
  name: temporal-dev
  namespace: keda-temporal
spec:
  type: ClusterIP
  selector:
    app: temporal-dev
  ports:
    - name: frontend
      port: 7233
      targetPort: 7233
